{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<header id="page-header" class="default-header d-print-none">
    <div class="container-max">
        <div class="row flex-row-reverse position-relative">
            <div id="page-header-parent" class="col-12 header-container">
                <div class="top-bar header-fw unfixed">
                    <div class="container-max px-0 pr-lg-3">
                        <div class="row mx-0 flex-row-reverse position-relative">
                            <div class="top-bar-items col-12 d-flex align-items-center">
                                <ul id="controlsListLeft" class="controls-list list-inline">
                                    <li class="list-inline-item dropdown control-languages">
                                        <a class="nav-link"
                                           data-toggle="collapse"
                                           href="#countrySettings"
                                           aria-expanded="false"
                                           aria-controls="countrySettings"
                                           data-parent="#controlsList"
                                           aria-label="{{ trans('Ceres::Template.headerCountry') }}">
                                            <span class="pl-material pl-baseline-language"></span>
                                        </a>
                                    </li>

                                    {% if enableCurrencySelect == "true" %}
                                        <li class="list-inline-item dropdown control-languages">
                                            <a class="nav-link"
                                               data-toggle="collapse"
                                               href="#currencySelect"
                                               aria-expanded="false"
                                               aria-controls="currencySelect"
                                               data-parent="#controlsList"
                                               aria-label="{{ trans('Ceres::Template.headerCurrency') }}">
                                                <span>{{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>

                                {{ LayoutContainer.show("Ceres::Header.LeftSide") }}

                                <ul id="controlsList" class="controls-list list-inline">
                                    <li class="list-inline-item control-user">
                                        <client-only>
                                            <user-login-handler>
                                                <a class="nav-link" data-toggle="modal" aria-label="{{ trans('Ceres::Template.login') }}">
                                                    <span class="pl-material pl-outline-exit_to_app"></span>
                                                    <span class="d-none d-md-inline">{{ trans("Ceres::Template.login") }}</span>
                                                </a>
                                                <a class="nav-link" data-toggle="modal" aria-label="{{ trans('Ceres::Template.loginRegister') }}">
                                                    <span class="pl-material pl-outline-person_add"></span>
                                                    <span class="d-none d-md-inline">{{ trans("Ceres::Template.loginRegister") }}</span>
                                                </a>
                                            </user-login-handler>
                                        </client-only>
                                    </li>
                                    {% if services.url.isRouteEnabled("wish-list") %}
                                        <li class="list-inline-item control-wish-list">
                                            <lazy-hydrate when-idle>
                                                <wish-list-count>
                                                    <a class="nav-link" aria-label="{{ trans('trans("Ceres::Template.wishList') }}">
                                                        <span class="pl-material pl-outline-favorite_border"></span>
                                                        <span class="d-none d-md-inline">{{ trans("Ceres::Template.wishList") }}</span>
                                                    </a>
                                                </wish-list-count>
                                            </lazy-hydrate>
                                        </li>
                                    {% endif %}
                                </ul>

                                <ul id="controlsListRight" class="controls-list d-lg-none list-inline text-right">
                                    <li class="list-inline-item control-basket">
                                        <a href="{{ urls.basket }}" class="toggle-basket-preview{% if config("Ceres.header.basket_values") != "sum" %} badge-abs{% endif %}">
                                            {% if config("Ceres.header.basket_values") != "sum" %}
                                                <span class="badge-right" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                                            {% endif %}

                                            <span class="pl-material pl-outline-shopping_cart"></span>
                                            {% if config("Ceres.header.basket_values") != "quantity" %}
                                                <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                                <span class="badge" v-else v-cloak v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container-max px-0 px-lg-3">
                        <div class="row mx-0 flex-row-reverse position-relative">
                            {% if enableCurrencySelect == "true" %}
                                <div id="currencySelect" class="cmp cmp-currency-select collapse">
                                    <div class="container-max">
                                        <div class="row py-3">
                                            <div class="currency-list col-12">
                                                <div class="list-title">
                                                    <strong>{{ trans("Ceres::Template.headerCurrency") }}</strong>
                                                    <hr>
                                                </div>
                                                <ul class="row text-center text-sm-left">
                                                    {% for currency in services.checkout.getCurrencyList() if currency.name in activeCurrencies or activeCurrencies[0] == 'all' or currency.name == services.checkout.getCurrencyData().name %}
                                                        <li class="col-2 px-0{% if currency.name == services.checkout.getCurrencyData().name %} active{% endif %}">
                                                            <a class="nav-link" href="{{ queryString({"currency": currency.name}) }}" rel="nofollow">
                                                                {% if currencyFormatSelect == 'all' %}
                                                                    {{ currency.name }} <br class="d-block d-sm-none" />({{ currency.symbol }})
                                                                {% else %}
                                                                    {{ currency[currencyFormatSelect] }}
                                                                {% endif %}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div id="countrySettings" class="cmp cmp-country-settings collapse">
                                <div class="container-max">
                                    <div class="row py-3">
                                        <div class="col-12 col-lg-6">
                                            {% cacheslot languageSelect %}
                                                <div class="language-settings">
                                                    <div class="list-title">
                                                        <strong>{{ trans("Ceres::Template.headerSelectLanguage") }}</strong>
                                                        <hr>
                                                    </div>

                                                    {% set languageList = services.webstoreConfigurationRepository.getActiveLanguageList() %}
                                                    {% set languageUrls = services.url.getLanguageURLs() %}
                                                    <ul class="row">
                                                        {% for language in languageList %}
                                                            {% set languageISO = services.localizationRepository.getLanguageCode(language) %}
                                                            <li class="col-6 col-sm-4 px-0{% if lang == language %} active{% endif %}">
                                                                <a class="nav-link" href="{% if languageUrls[languageISO] is defined %}{{ languageUrls[languageISO] ~ queryString() }}{% elseif language != defaultLanguage %}/{{ language }}{{ urls.trailingSlashSuffix }}{% else %}/{% endif %}" data-update-url>
                                                                    <i class="flag-icon flag-icon-{{ language }}"></i>
                                                                    {{ trans("Ceres::Template.header" ~ language | capitalize) }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endcacheslot %}
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="shipping-settings">
                                                <div class="list-title">
                                                    <strong>{{ trans("Ceres::Template.headerSelectShippingCountry") }}</strong>
                                                    <hr>
                                                </div>
                                                <intersect>
                                                    <shipping-country-select :disable-input="{{ services.template.isCheckout() | json_encode() }}"></shipping-country-select>
                                                    <template #loading>
                                                        <div class="row" style="height:1px;"></div>
                                                    </template>
                                                </intersect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include "Legend::PageDesign.Partials.Header.Navigation" %}

                {% cacheslot breadcrumbs %}
                    {# breadcrumbs are related to every single page so they need to be wrapped in a cache slot #}
                    {% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
                        {% include "Legend::PageDesign.Partials.Header.Breadcrumb" %}
                    {% endif %}
                {% endcacheslot %}
            </div>
        </div>
    </div>
</header>
